div#chatroom-container {
  background-color: #F5F5F5!important;
  max-width: 750px;
  margin: 0px;
  padding: 0px;
  position: absolute;
}

div#chatroom-form {
  background-color: #F5F5F5!important;
  max-width: 750px;
}

div#chatroom-container {
  height: 350px;
  overflow-y: scroll;
  padding-left: 5px;
  box-sizing: border-box;
  position: relative;
  bottom: 0px;
}

div#chatroom-container::-webkit-scrollbar {
  display: none;
}

ul.chat {
  vertical-align: top;
}

ul.chat li {
  padding: 15px 0px;
  width: 98%;
}

li.right span,
li.left span {
  margin: 0px;
}

li.right span.from,
li.right span.text {
  margin: 0px 15px;
}

li.left span.from,
li.left span.text {
  margin: 0px 15px;
}
