<app-navigation></app-navigation>
<app-js-warning></app-js-warning>

<div id="content">
  <app-breadcrum></app-breadcrum>

  <!-- dashboard outlet -->
  <router-outlet *ngIf="this.FirebaseAuthService.ActiveUser" id="angular-content"></router-outlet>

  <!-- signin outlet -->
  <div *ngIf="!this.FirebaseAuthService.ActiveUser" id="login-wrapper">
    <div class="login-box">
      <img src="http://onflo.io/images/onflo-black-logo.png" alt="Onflo Logo" id="onflo-logo"><br />
      Automated Online Workflow
      <div class="form-horizontal">
        <fieldset>

          <div class="input-prepend" title="Username">
            <span class="add-on"><i class="halflings-icon user"></i></span>
            <input [(ngModel)]="email" class="input-large span10" name="email" id="email" type="text" placeholder="email">
          </div>
          <div class="clearfix"></div>

          <div class="input-prepend" title="Password">
            <span class="add-on"><i class="halflings-icon lock"></i></span>
            <input [(ngModel)]="password" class="input-large span10" name="password" id="password" type="password" placeholder="password">
          </div>

          <p id="error-message" *ngIf="this.FirebaseAuthService.errorMsg">{{ this.FirebaseAuthService.errorMsg }}</p>

          <div class="clearfix"></div>

          <div class="button-login">
            <button type="submit" (click)="this.FirebaseAuthService.login(this.email, this.password)" routerLink="home" class="btn btn-primary">Login</button>
            <button type="submit" (click)="this.FirebaseAuthService.createAccount(this.email, this.password)" routerLink="home" class="btn btn-default">Create Account</button>
          </div>

          <div class="clearfix"></div>

          <hr>
        </fieldset>
      </div>
    </div>
  </div>
</div>
