<div id="solutions-form">
  <div *ngIf="!this.submitted">
    <div class="control-group">
      <textarea id="prependedInput" size="32" type="text" placeholder="Tell us a little more..." [(ngModel)]="issue"></textarea>
    </div>
    <button type="submit" class="btn btn-primary" (click)="this.submitIssue()">Submit</button>
    <button class="btn" (click)="this.issue = ''">Cancel</button>
  </div>
  <div class="alert alert-success" *ngIf="this.submitted">
    <strong>Success!</strong> Please give at least two business days for a response and make sure your business infomation is updated in your settings (we might need to contact you for further questions).<br /><br />
    <a><strong (click)="this.reset()">Click here to submit another</strong></a>
  </div>
</div>
