<!-- header -->
<div id="home-wrapper">
  <h1>Welcome!</h1>
  <br />

  <!-- features break down -->
  <div routerLink="/solutions" class="dash-icon">
    <i class="icon-list-alt"></i><br />
    <span>Solutions</span>
  </div>

  <div routerLink="/analytics" class="dash-icon">
    <i class="icon-dashboard"></i><br />
    <span>Analytics</span>
  </div>

  <div routerLink="/learn" class="dash-icon">
    <i class="icon-facetime-video"></i><br />
    <span>Learn</span>
  </div>

  <div routerLink="/automation" class="dash-icon">
    <i class="icon-cog"></i><br />
    <span>Automation</span>
  </div>

  <br />

  <div routerLink="/customer" class="dash-icon">
    <i class="icon-user"></i><br />
    <span>Customers</span>
  </div>

  <div routerLink="/reviews" class="dash-icon">
    <i class="icon-bullhorn"></i><br />
    <span>Reviews</span>
  </div>

  <div routerLink="/settings" class="dash-icon">
    <i class="icon-edit"></i><br />
    <span>Settings</span>
  </div>

  <div (click)="this.FirebaseAuthService.logout()" class="dash-icon">
    <i class="icon-off"></i><br />
    <span>Logout</span>
  </div>
</div>
