<!-- header -->
<h1>Dashboard</h1>
<br />
<h2>Welcome to your Onflo dashboard!</h2>
<br />

<!-- features break down -->
<p><i>Features are under construction and will be available soon.</i></p>
<br />
<ul>
  <!-- solutions -->
  <li><a routerLink="/solutions">Solutions</a></li>
  <ul>
    <li>Connect with our team to solve your problems.</li>
    <li>Submit issues and receive quotes on fixes.</li>
    <li>Need an upcoming promotion? We can help!</li>
    <li>Website have bugs? Don't worry, we have solutions!</li>
  </ul>
  <!-- analytics -->
  <li><a routerLink="/analytics">Analytics</a></li>
  <ul>
    <li>Import your Google Analytics to our Dashboard.</li>
    <li>Don't understand something? Ask us questions!</li>
    <li>Receive advice for growing your online presence.</li>
  </ul>
  <!-- learn -->
  <li><a routerLink="/home">Learn (Coming Soon)</a></li>
  <ul>
    <li>Custom videos to help you get things done!</li>
    <li>Step by step instructions for running an online business.</li>
  </ul>
  <!-- learn -->
  <li><a routerLink="/home">Automation (Coming Soon)</a></li>
  <ul>
    <li>Get things done while you're sleeping with these automation tools.</li>
    <li>Instagram, Twitter, Facebook - advanced tagging options.</li>
    <li>Add your own settings to the bot so it's personalized.</li>
  </ul>
  <!-- markter -->
  <li><a routerLink="/home">Customers (Coming Soon)</a></li>
  <ul>
    <li>Keep track of your customers and their rewards.</li>
    <li>Customizable pipeline for sales.</li>
  </ul>
  <!-- markter -->
  <li><a routerLink="/home">Reviews (Coming Soon)</a></li>
  <ul>
    <li>Read all your reviews in one place.</li>
  </ul>
</ul>

<p><i>Please hold tight until features are available!</i></p>
