div.dash-icon {
  padding: 25px 15px;
  width: 72.5px;
  background-color: #1C1D22;
  color: #fff;
  display: inline-block;
  font-size: 3em;
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: 10px;
  text-align: center;
}

div.dash-icon:hover {
  opacity: 0.75;
}

div.dash-icon span {
  font-size: 0.25em;
}

@media only screen and (max-width: 539px) {
  div#home-wrapper {
    width: 100%;
    text-align: center;
  }
  div.dash-icon {
    width: 25%;
  }
}
