<div id="sidebar-left" class="span2">
  <div class="nav-collapse sidebar-nav">
    <ul class="nav nav-tabs nav-stacked main-menu">
      <li><a href="../pages/home" id="navbar-logo">
        <img src="http://onflo.io/images/onflo-white-logo.png" />
      </a></li>
      <li><a routerLink="/home"><i class="icon-bar-chart"></i><span class="hidden-tablet"> Dashboard</span></a></li>
      <li><a routerLink="/solutions"><i class="icon-list-alt"></i><span class="hidden-tablet"> Solutions</span></a></li>
      <li><a routerLink="/analytics"><i class="icon-dashboard"></i><span class="hidden-tablet"> Analytics</span></a></li>
      <li><a routerLink="/learn"><i class="icon-facetime-video"></i><span class="hidden-tablet"> Learn</span></a></li>
      <li><a routerLink="/settings"><i class="icon-edit"></i><span class="hidden-tablet"> Settings</span></a></li>
      <li><a routerLink="/logout"><i class="icon-off"></i><span class="hidden-tablet"> Logout</span></a></li>
    </ul>
  </div>
</div>
