<h1>Messenger</h1>
<br />

<div class="box-content" id="chatroom-container">
  <!-- messages -->
  <div id="msgs-container">
  <ul class="chat" *ngFor="let message of this.messages" id="msgs-list">
    <li class="left" *ngIf="message.who === 'you'">
      <span class="message"><span class="arrow"></span>
      <span class="from"><b>You</b> <i>({{ formatDate(message.when) }})</i></span>
      <span class="text">{{ message.what }}</span>
      </span>
    </li>
    <li class="right" *ngIf="message.who === 'onflo'">
      <span class="message"><span class="arrow"></span>
      <span class="from">({{ formatDate(message.when) }}) <b>Onflo</b></span>
      <span class="text">{{ message.what }}</span>
      </span>
    </li>
  </ul>
  </div>
</div>

<div class="box-content" id="chatroom-form">
  <div class="chat-form">
    <!-- message sender -->
    <textarea placeholder="Type your message here..." [(ngModel)]="message"></textarea>
    <button class="btn btn-primary" (click)="sendMessage()">Send</button>
  </div>
</div>