<h2>Example Solutions</h2><br />

<div class="span7" id="solutions-container">

  <div class="priority high"><span>Needs Approval</span></div>

  <div class="task high">
    <div class="desc">
      <div class="title">Install Google Analytics</div>
      <div>Let's get you started with Google Analytics! Once you approve this request we will get started installing GA onto your website. From there we can help you learn more about your web presence.</div>
      <br />
      <a>Approve</a> or <a>Remove</a>
    </div>
    <div class="time">
      <div class="date">$75</div>
      <div>Est. 1 day</div>
    </div>
  </div>

  <div class="priority medium"><span>In Progress</span></div>

  <div class="task medium">
    <div class="desc">
      <div class="title">Brand Social Media</div>
      <div>After redoing your website, it's always a good idea to make sure your social media matches (avatar and header)!</div>
    </div>
    <div class="time">
      <div class="date">Sep 28, 2017</div>
      <div>1 Day Left</div>
    </div>
  </div>

  <div class="priority low"><span>Complete!</span></div>

  <div class="task low">
    <div class="desc">
      <div class="title">Modernize Your Current Website</div>
      <div>Bring your website up to date to current web standards. Everything from the look and feel all the way down to the SEO.</div>
    </div>
    <div class="time">
      <div class="date">Sep 25, 2017</div>
      <div>Completed</div>
    </div>
  </div>

</div>
