div.box-content {
  width: 94%;
  max-width: 500px;
}

.dashboard-list div {
  margin: 5px;
  display: inline-block;
  border-bottom: solid thick #F5F5F5;
  background-color: #fff;
}

.box-content textarea {
  width: 75%;
  max-width: 500px;
  min-width: 250px;
}

span.label-danger {
  background-color: red;
}

span.label {
  text-transform: capitalize;
}

div#add-video-container {
  margin-top: 15px;
}

div.lesson-alert {
  display: block;
  width: 260px;
}

#open-deal-wrapper {
  width: 100%;
}

#open-deal-wrapper div {
  width: 20%;
  height: 250px;
  min-width: 250px;
  margin-bottom: 15px;
  margin-right: 15px;
  background-color: #fff;
  display: inline-block;
  overflow: scroll;
  padding: 0px 15px;
  overflow-x: hidden;

}

#open-deal-wrapper div::-webkit-scrollbar {
  display: none;
}



#open-deal-wrapper div div {
  margin: 15px 0px;
  width: 100%;
  box-sizing: border-box;

}

@media only screen and (max-width: 479px) {
  #open-deal-wrapper div {
    width: 92%;
  }
}

