<h1>Admin</h1>
<br />

<!-- unread messages -->
<div id="unread-container">
  <ul>
    <li *ngFor="let msg of unreadMsgs">
      <a routerLink="/messenger/{{ msg }}">{{ msg }}</a>
    </li>
  </ul>
</div>

<!-- read deals -->
<div id="open-deal-wrapper" *ngIf="!activeDeal && this.deals.length > 0">
  <div *ngFor="let deal of this.deals" >
    <div *ngIf="deal.status !== 'removed'">
      <!-- apply correct label -->
      <span class="label" *ngIf="deal.status === 'submitted'">{{ deal.status }}</span>
      <span class="label label-info" *ngIf="deal.status === 'pending'">{{ deal.status }}</span>
      <span class="label label-danger" *ngIf="deal.status === 'removed'">{{ deal.status }}</span>
      <span class="label label-warning" *ngIf="deal.status === 'production'">{{ deal.status }}</span>
      <span class="label label-success" *ngIf="deal.status === 'complete'">{{ deal.status }}</span>
      <br />
      {{ formatDate(deal.submitted) }}
      <br />
      <a (click)="showDeal(deal.dealUID)">Edit</a> or <a (click)="removeDeal(deal.dealUID, deal.userUID)">Delete</a>
      <br /><br />
      <i>{{ deal.issue }}</i>
      <br />
      <br />
    </div>
  </div>
</div>

<!-- reply to deals -->
<div class="box-content" *ngIf="activeDeal">
  <span class="label" *ngIf="activeDeal.status === 'submitted'">{{ activeDeal.status }}</span>
  <span class="label" *ngIf="activeDeal.status === 'removed'">{{ activeDeal.status }}</span>
  <span class="label label-success" *ngIf="activeDeal.status === 'complete'">{{ activeDeal.status }}</span>
  <span class="label label-info" *ngIf="activeDeal.status === 'pending'">{{ activeDeal.status }}</span>
  <span class="label label-warning" *ngIf="activeDeal.status === 'production'">{{ activeDeal.status }}</span>
  <br />
  {{ formatDate(activeDeal.submitted) }}<br />
  <span *ngIf="activeDeal.started">{{ getDaysLeft(activeDeal.started, dealDays) }} day(s) left</span>
  <span *ngIf="!activeDeal.started">Project has not stated</span>
  <br /><br />
  <div *ngIf="client">
    <span *ngIf="client.business"><strong>Business:</strong> {{ client.business }}</span><br />
    <span *ngIf="client.website"><strong>Website:</strong> {{ client.website }}</span><br />
    <span *ngIf="client.slack"><strong>Slack:</strong> {{ client.slack }}</span><br />
    <span *ngIf="client.phone"><strong>Phone:</strong> {{ client.phone }}</span><br />
  </div><div *ngIf="!client">
    <span><strong>User UID:</strong>{{ activeDeal.userUID }}</span><br />
    <span><i>This is the only client info available, they need to fill out their settings.</i></span>
  </div>
  <br />
  <strong>Details:</strong> {{ activeDeal.issue }}
  <br /><br />
  <select [(ngModel)]="activeDeal.status">
    <option value="pending">Pending</option>
    <option value="production">Production</option>
    <option value="complete">Complete</option>
  </select>
  <br />
  <input [(ngModel)]="dealTitle" placeholder="What's the goal?" type="text" /><br />
  <textarea [(ngModel)]="dealMsg" placeholder="How are we going to do it?" size="32" type="text"></textarea><br />
  <input [(ngModel)]="dealAmount" placeholder="How much?" type="number" /><br />
  <input [(ngModel)]="dealDays" placeholder="How many days?" type="number" />
  <br />
  <button class="btn btn-primary" (click)="sendDeal()">Update</button>
  <br /><br />
  <a (click)="activeDeal=false && addingVideo=true">Back To All Deals</a>
</div>

<!-- add new video -->
<div *ngIf="addingVideo" id="add-video-container">
  <div class="control-group">
    <label class="control-label" for="focusedInput">Lesson Title</label>
    <input [(ngModel)]="learningVideo.title" class="input-xlarge focused" type="text" placeholder="How To Brand Social Media">
  </div>
  <div class="control-group">
    <label class="control-label" for="focusedInput">Video Link</label>
    <input [(ngModel)]="learningVideo.video" class="input-xlarge focused" type="text" placeholder="https://www.youtube.com/watch?v=id">
  </div>
  <div class="control-group">
    <label class="control-label">Keywords</label>
    <input [(ngModel)]="learningVideo.keywords" class="input-xlarge focused" type="text" placeholder="social, marketing, online, etc.">
  </div>
  <div class="control-group">
    <label class="control-label" for="selectError3">Category</label>
    <select [(ngModel)]="learningVideo.category" id="selectError3">
      <option value="social">Social</option>
      <option value="email">Email</option>
      <option value="data">Data</option>
      <option value="web">Web</option>
      <option value="design">Design</option>
      <option value="photo">Photo</option>
      <option value="video">Video</option>
      <option value="mind">Mind</option>
    </select>
  </div>
  <div class="alert alert-success lesson-alert" *ngIf="lessonAddedSuccess">
    <strong>Complete!</strong> You've successfully added a lesson.
  </div>
  <div class="alert alert-error lesson-alert" *ngIf="lessonAddedFailure">
    <strong>Error!</strong> Looks like you forgot something.
  </div>
  <button type="submit" class="btn btn-primary" (click)="addVideo()">Add Lesson</button>
  <button class="btn" (click)="resetLessonDetails()">Cancel</button>
</div>
